In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import random
from scipy.stats import linregress
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
#set all columns to be displayed
pd.set_option('display.max_columns', None)

In [3]:
# Study data file 1
worldinternet_path = "Resources/data.csv"

In [4]:
worldinternet_results = pd.read_csv(worldinternet_path)

In [5]:
worldinternet_results.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Individuals using the Internet (% of population),IT.NET.USER.ZS,Afghanistan,AFG,0,..,5,5.454545455,5.9,7,8.26,..,..,..,..,..
1,Individuals using the Internet (% of population),IT.NET.USER.ZS,Albania,ALB,0,0.114097347,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,72.23767711
2,Individuals using the Internet (% of population),IT.NET.USER.ZS,Algeria,DZA,0,0.491705679,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,..
3,Individuals using the Internet (% of population),IT.NET.USER.ZS,American Samoa,ASM,0,..,..,..,..,..,..,..,..,..,..,..
4,Individuals using the Internet (% of population),IT.NET.USER.ZS,Andorra,AND,0,10.53883561,81,..,..,..,..,..,91.56746703,..,..,..

In [6]:
worldinternet_results.shape

(271, 16)

In [7]:
# Study data file 2
worldincome_path = "Resources/countries.csv"

In [8]:
worldincome_results = pd.read_csv(worldincome_path)

In [9]:
worldincome_results.head(30)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
5,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
6,AND,Europe & Central Asia,High income,NaN,Andorra,NaN
7,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
8,ARE,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
9,ARG,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Argentina,NaN
10,ARM,Europe & Central Asia,Upper middle income,NaN,Armenia,NaN
11,ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
12,ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN
13,AUS,East Asia & Pacific,High income,The reporting period for national accounts dat...,Australia,NaN
14,AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria,NaN
15,AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan,NaN
16,BDI,Sub-Saharan Africa,Low income,The World Bank systematically assesses the app...,Burundi,NaN
17,BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium,NaN
18,BEN,Sub-Saharan Africa,Lower middle income,NaN,Benin,NaN
19,BFA,Sub-Saharan Africa,Low income,NaN,Burkina Faso,NaN
20,BGD,South Asia,Lower middle income,The reporting period for national accounts dat...,Bangladesh,NaN
21,BGR,Europe & Central Asia,Upper middle income,NaN,Bulgaria,NaN
22,BHR,Middle East & North Africa,High income,NaN,Bahrain,NaN
23,BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The",NaN
24,BIH,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina,NaN
25,BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
26,BLZ,Latin America & Caribbean,Lower middle income,NaN,Belize,NaN
27,BMU,North America,High income,NaN,Bermuda,NaN
28,BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia,NaN
29,BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil,NaN

In [10]:
worldincome_results.shape

(265, 6)

In [11]:
#merging the data sets 
world_overview = pd.merge(worldinternet_results, worldincome_results,how='left', left_on='Country Name', right_on='TableName')

In [12]:
world_overview.shape

(271, 22)

In [13]:
world_overview.head()

,Series Name,Series Code,Country Name,Country Code_x,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],Country Code_y,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,Individuals using the Internet (% of population),IT.NET.USER.ZS,Afghanistan,AFG,0,..,5,5.454545455,5.9,7,8.26,..,..,..,..,..,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
1,Individuals using the Internet (% of population),IT.NET.USER.ZS,Albania,ALB,0,0.114097347,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,72.23767711,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
2,Individuals using the Internet (% of population),IT.NET.USER.ZS,Algeria,DZA,0,0.491705679,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,..,DZA,Middle East & North Africa,Lower middle income,NaN,Algeria,NaN
3,Individuals using the Internet (% of population),IT.NET.USER.ZS,American Samoa,ASM,0,..,..,..,..,..,..,..,..,..,..,..,ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
4,Individuals using the Internet (% of population),IT.NET.USER.ZS,Andorra,AND,0,10.53883561,81,..,..,..,..,..,91.56746703,..,..,..,AND,Europe & Central Asia,High income,NaN,Andorra,NaN

In [14]:
#filtering the dataset to remove unwanted columns 
internet_df = world_overview.filter(['Country Name','Country Code_x','2011 [YR2011]','2012 [YR2012]','2013 [YR2013]','2014 [YR2014]','2015 [YR2015]','2016 [YR2016]','2017 [YR2017]','2018 [YR2018]','2019 [YR2019]','2020 [YR2020]','IncomeGroup'])

In [15]:
internet_df.head(30)

,Country Name,Country Code_x,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],IncomeGroup
0,Afghanistan,AFG,5,5.454545455,5.9,7,8.26,..,..,..,..,..,Low income
1,Albania,ALB,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,72.23767711,Upper middle income
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,..,Lower middle income
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,Upper middle income
4,Andorra,AND,81,..,..,..,..,..,91.56746703,..,..,..,High income
5,Angola,AGO,3.1,6.5,8.9,21.4,29,29,32,35,36,..,Lower middle income
6,Antigua and Barbuda,ATG,52,58,63.4,67.78,70,73,..,..,..,..,High income
7,Argentina,ARG,51,55.8,59.9,64.7,68.04306411,70.96898082,74.29490687,..,..,..,Upper middle income
8,Armenia,ARM,32,37.5,41.9,54.62280586,59.10083377,64.34602977,64.74488433,68.24505226,66.54394969,..,Upper middle income
9,Aruba,ABW,69,74,78.9,83.78,88.66122693,93.54245387,97.17,..,..,..,High income
10,Australia,AUS,79.48769771,79,83.45349717,84,84.56051491,86.54,86.54504885,..,..,..,High income
11,Austria,AUT,78.7399931,80.02999392,80.6188,80.99582496,83.94014193,84.32374257,87.93558659,87.47913723,87.75220479,87.52942813,High income
12,Azerbaijan,AZE,50,54.2,73.00000137,75.00001564,77,78.2,79,79.79999549,81.09999907,..,Upper middle income
13,"Bahamas, The",BHS,65,71.74820281,72,76.92,78,80,85,..,..,..,High income
14,Bahrain,BHR,76.9999665,88,90.0000397,90.50313348,93.4783008,97.9999807,95.87813575,98.64467258,99.70149256,99.53951246,High income
15,Bangladesh,BGD,4.5,5,6.63,7.4,8.3,9.2,10.3,11.5,12.9,..,Lower middle income
16,Barbados,BRB,66.5,71.2,71.8,75.16,76.11,79.54939789,81.76077839,..,..,..,High income
17,Belarus,BLR,39.64889566,46.91,54.17,59.02,62.23036091,71.11304576,74.43644541,79.12988669,82.78915209,85.08791245,Upper middle income
18,Belgium,BEL,81.609996,80.71999055,82.1702,85,85.05294175,86.51647666,87.67968082,88.647343,90.27542981,91.52423735,High income
19,Belize,BLZ,30.7,31,33.6,38.7,41.59,44.57574032,47.0826258,..,..,..,Lower middle income
20,Benin,BEN,4.148323066,4.5,4.9,6,11.25498791,11.99,13.3,26,29,..,Lower middle income
21,Bermuda,BMU,88.336,91.29930452,95.3,96.8,98.32360965,98,98.37,..,..,..,High income
22,Bhutan,BTN,14.4,15.6,22.4,30.3,39.8,41.77264453,..,..,..,..,Lower middle income
23,Bolivia,BOL,30,35.34,36.99,34.6,37.49,39.6975146,43.83227607,44.2861422,47.47481911,55.13905053,Lower middle income
24,Bosnia and Herzegovina,BIH,43.88768653,45.06450043,48.52131417,49.91773243,52.6,60.25653543,64.89202051,70.12013504,69.94634763,73.21175294,Upper middle income
25,Botswana,BWA,9,16,30,36.74474744,37.31205037,39.36299738,41.41379464,58,61,..,Upper middle income
26,Brazil,BRA,45.69,48.56,51.04,54.55100188,58.32795173,60.87254007,67.47128452,70.43428254,73.91244005,..,Upper middle income
27,British Virgin Islands,VGB,37.4,37.6,..,..,..,77.70142968,77.70426829,..,..,..,High income
28,Brunei Darussalam,BRN,56,60.27306504,64.5,68.77,71.2,90,94.86669164,95,95,..,High income
29,Bulgaria,BGR,47.97999305,51.89998767,53.0615,55.49,56.65625161,59.82554766,63.41010138,64.78201069,67.94698094,70.16248359,Upper middle income

In [16]:
#reading in the population data and filtering
worldbank_pop = "Resources/pop.csv"
worldbank_population = pd.read_csv(worldbank_pop)
worldbank_population = worldbank_population.filter(['Country Name','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'])
worldbank_population.head()

,Country Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [17]:
#merging the datasets
world_overview1 = pd.merge(internet_df, worldbank_population,how='left', left_on='Country Name', right_on='Country Name')

In [18]:

world_overview1.head()

,Country Name,Country Code_x,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],IncomeGroup,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,AFG,5,5.454545455,5.9,7,8.26,..,..,..,..,..,Low income,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
1,Albania,ALB,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,72.23767711,Upper middle income,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,..,Lower middle income,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,43851043.0
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,Upper middle income,55755.0,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,55197.0
4,Andorra,AND,81,..,..,..,..,..,91.56746703,..,..,..,High income,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0

In [19]:
#reading in the GDP CSV and filtering 
worldbank_GDP = "Resources/GDP.csv"
worldbank_gdp = pd.read_csv(worldbank_GDP)
worldbank_gdp.shape
worldbank_gdp.head()
worldbank_gdp = worldbank_gdp.filter(['Country Name','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'])
worldbank_gdp.head()

,Country Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,3.446055,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,4.014183,1.972652,4.308370,3.986754,2.925591,2.019391,2.542298,2.475272,2.077898,-2.939186
2,Afghanistan,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101
3,Africa Western and Central,4.848351,5.142964,6.104241,5.927350,2.745937,0.127595,2.318042,2.952230,3.190336,-0.884981
4,Angola,3.471976,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987

In [20]:
#final merge 
world_final = pd.merge(world_overview1, worldbank_gdp,how='left', left_on='Country Name', right_on='Country Name')
world_final.head()

,Country Name,Country Code_x,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],IncomeGroup,2011_x,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,2018_x,2019_x,2020_x,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y,2020_y
0,Afghanistan,AFG,5,5.454545455,5.9,7,8.26,..,..,..,..,..,Low income,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101
1,Albania,ALB,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,72.23767711,Upper middle income,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.113420,-3.955398
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,..,Lower middle income,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,43851043.0,2.900000,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.100000,1.000000,-5.100000
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,Upper middle income,55755.0,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,55197.0,0.000000,-4.334828,-2.500000,1.762821,3.149606,-1.679389,-6.987578,2.671119,-0.487805,3.921569
4,Andorra,AND,81,..,..,..,..,..,91.56746703,..,..,..,High income,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.952693

In [21]:
#renaming the columns to distinguish the data 
world_final.rename(columns={'Country Name': 'Country','Country Code_x': 'Abbr','2011 [YR2011]': 'Internet_Use_Perc_2011','2012 [YR2012]': 'Internet_Use_Perc_2012','2013 [YR2013]': 'Internet_Use_Perc_2013','2014 [YR2014]': 'Internet_Use_Perc_2014','2015 [YR2015]': 'Internet_Use_Perc_2015','2016 [YR2016]': 'Internet_Use_Perc_2016','2017 [YR2017]': 'Internet_Use_Perc_2017','2018 [YR2018]': 'Internet_Use_Perc_2018','2019 [YR2019]': 'Internet_Use_Perc_2019','2020 [YR2020]': 'Internet_Use_Perc_2020','2011_y': 'GDP_2011','2012_y': 'GDP_2012','2013_y': 'GDP_2013','2014_y': 'GDP_2014','2015_y': 'GDP_2015','2016_y': 'GDP_2016','2017_y': 'GDP_2017','2018_y': 'GDP_2018','2019_y': 'GDP_2019','2020_y': 'GDP_2020','2011_x': 'population_2011','2012_x': 'population_2012','2013_x': 'population_2013','2014_x': 'population_2014','2015_x': 'population_2015','2016_x': 'population_2016','2017_x': 'population_2017','2018_x': 'population_2018','2019_x': 'population_2019','2020_x': 'population_2020'}, inplace=True)

In [22]:
world_final.head()

,Country,Abbr,Internet_Use_Perc_2011,Internet_Use_Perc_2012,Internet_Use_Perc_2013,Internet_Use_Perc_2014,Internet_Use_Perc_2015,Internet_Use_Perc_2016,Internet_Use_Perc_2017,Internet_Use_Perc_2018,Internet_Use_Perc_2019,Internet_Use_Perc_2020,IncomeGroup,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,population_2020,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019,GDP_2020
0,Afghanistan,AFG,5,5.454545455,5.9,7,8.26,..,..,..,..,..,Low income,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101
1,Albania,ALB,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,72.23767711,Upper middle income,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.113420,-3.955398
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,..,Lower middle income,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,43851043.0,2.900000,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.100000,1.000000,-5.100000
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,Upper middle income,55755.0,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,55197.0,0.000000,-4.334828,-2.500000,1.762821,3.149606,-1.679389,-6.987578,2.671119,-0.487805,3.921569
4,Andorra,AND,81,..,..,..,..,..,91.56746703,..,..,..,High income,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.952693

In [23]:
#remove the 2020 data for internet %use, population and GDP as a lot of them were incomplete
world_final = world_final.drop(['Internet_Use_Perc_2020', 'population_2020', 'GDP_2020'], axis = 1)
world_final.head()

,Country,Abbr,Internet_Use_Perc_2011,Internet_Use_Perc_2012,Internet_Use_Perc_2013,Internet_Use_Perc_2014,Internet_Use_Perc_2015,Internet_Use_Perc_2016,Internet_Use_Perc_2017,Internet_Use_Perc_2018,Internet_Use_Perc_2019,IncomeGroup,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019
0,Afghanistan,AFG,5,5.454545455,5.9,7,8.26,..,..,..,..,Low income,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603
1,Albania,ALB,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,Upper middle income,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.113420
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,Lower middle income,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,2.900000,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.100000,1.000000
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,Upper middle income,55755.0,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,0.000000,-4.334828,-2.500000,1.762821,3.149606,-1.679389,-6.987578,2.671119,-0.487805
4,Andorra,AND,81,..,..,..,..,..,91.56746703,..,..,High income,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548

In [24]:
world_final.shape

(271, 30)

In [25]:
world_final.head()

,Country,Abbr,Internet_Use_Perc_2011,Internet_Use_Perc_2012,Internet_Use_Perc_2013,Internet_Use_Perc_2014,Internet_Use_Perc_2015,Internet_Use_Perc_2016,Internet_Use_Perc_2017,Internet_Use_Perc_2018,Internet_Use_Perc_2019,IncomeGroup,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019
0,Afghanistan,AFG,5,5.454545455,5.9,7,8.26,..,..,..,..,Low income,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603
1,Albania,ALB,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,Upper middle income,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.113420
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,Lower middle income,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,2.900000,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.100000,1.000000
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,Upper middle income,55755.0,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,0.000000,-4.334828,-2.500000,1.762821,3.149606,-1.679389,-6.987578,2.671119,-0.487805
4,Andorra,AND,81,..,..,..,..,..,91.56746703,..,..,High income,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548

In [26]:
#remove all rows containing ".." as those will be unusable for further work
world_final = world_final[~world_final.isin(['..']).any(axis=1)]

In [27]:
world_final.head()

,Country,Abbr,Internet_Use_Perc_2011,Internet_Use_Perc_2012,Internet_Use_Perc_2013,Internet_Use_Perc_2014,Internet_Use_Perc_2015,Internet_Use_Perc_2016,Internet_Use_Perc_2017,Internet_Use_Perc_2018,Internet_Use_Perc_2019,IncomeGroup,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019
1,Albania,ALB,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,Upper middle income,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.113420
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,Lower middle income,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,2.900000,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.100000,1.000000
5,Angola,AGO,3.1,6.5,8.9,21.4,29,29,32,35,36,Lower middle income,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,3.471976,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644
8,Armenia,ARM,32,37.5,41.9,54.62280586,59.10083377,64.34602977,64.74488433,68.24505226,66.54394969,Upper middle income,2876536.0,2884239.0,2897593.0,2912403.0,2925559.0,2936147.0,2944789.0,2951741.0,2957728.0,4.700000,7.200000,3.300000,3.600000,3.200000,0.200000,7.500000,5.200000,7.600000
11,Austria,AUT,78.7399931,80.02999392,80.6188,80.99582496,83.94014193,84.32374257,87.93558659,87.47913723,87.75220479,High income,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,2.922797,0.680446,0.025505,0.661273,1.014502,1.989437,2.258572,2.501595,1.491211

In [28]:
world_final = world_final.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [29]:
world_final.shape

(120, 30)

In [30]:
world_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 1 to 216
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 120 non-null    object
 1   Abbr                    120 non-null    object
 2   Internet_Use_Perc_2011  120 non-null    object
 3   Internet_Use_Perc_2012  120 non-null    object
 4   Internet_Use_Perc_2013  120 non-null    object
 5   Internet_Use_Perc_2014  120 non-null    object
 6   Internet_Use_Perc_2015  120 non-null    object
 7   Internet_Use_Perc_2016  120 non-null    object
 8   Internet_Use_Perc_2017  120 non-null    object
 9   Internet_Use_Perc_2018  120 non-null    object
 10  Internet_Use_Perc_2019  120 non-null    object
 11  IncomeGroup             120 non-null    object
 12  population_2011         120 non-null    float64
 13  population_2012         120 non-null    float64
 14  population_2013         120 non-null    float64
 15  population_2014         120 non-null    float64
 16  population_2015         120 non-null    float64
 17  population_2016         120 non-null    float64
 18  population_2017         120 non-null    float64
 19  population_2018         120 non-null    float64
 20  population_2019         120 non-null    float64
 21  GDP_2011                120 non-null    float64
 22  GDP_2012                120 non-null    float64
 23  GDP_2013                120 non-null    float64
 24  GDP_2014                120 non-null    float64
 25  GDP_2015                120 non-null    float64
 26  GDP_2016                120 non-null    float64
 27  GDP_2017                120 non-null    float64
 28  GDP_2018                120 non-null    float64
 29  GDP_2019                120 non-null    float64
dtypes: float64(18), object(12)
memory usage: 29.1+ KB

In [31]:
world_final = world_final.astype({
    'Internet_Use_Perc_2011': 'float64',
    'Internet_Use_Perc_2012': 'float64',
    'Internet_Use_Perc_2013': 'float64',
    'Internet_Use_Perc_2014': 'float64',
    'Internet_Use_Perc_2015': 'float64',
    'Internet_Use_Perc_2016': 'float64',
    'Internet_Use_Perc_2017': 'float64',
    'Internet_Use_Perc_2018': 'float64',
    'Internet_Use_Perc_2019': 'float64'
})

In [32]:
world_final = world_final.round(decimals = 1)

In [33]:
world_final.head()

,Country,Abbr,Internet_Use_Perc_2011,Internet_Use_Perc_2012,Internet_Use_Perc_2013,Internet_Use_Perc_2014,Internet_Use_Perc_2015,Internet_Use_Perc_2016,Internet_Use_Perc_2017,Internet_Use_Perc_2018,Internet_Use_Perc_2019,IncomeGroup,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019
1,Albania,ALB,47.0,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.6,Upper middle income,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2.5,1.4,1.0,1.8,2.2,3.3,3.8,4.0,2.1
2,Algeria,DZA,14.9,18.2,22.5,29.5,38.2,42.9,47.7,49.0,57.5,Lower middle income,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,2.9,3.4,2.8,3.8,3.7,3.2,1.3,1.1,1.0
5,Angola,AGO,3.1,6.5,8.9,21.4,29.0,29.0,32.0,35.0,36.0,Lower middle income,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,3.5,8.5,5.0,4.8,0.9,-2.6,-0.1,-2.0,-0.6
8,Armenia,ARM,32.0,37.5,41.9,54.6,59.1,64.3,64.7,68.2,66.5,Upper middle income,2876536.0,2884239.0,2897593.0,2912403.0,2925559.0,2936147.0,2944789.0,2951741.0,2957728.0,4.7,7.2,3.3,3.6,3.2,0.2,7.5,5.2,7.6
11,Austria,AUT,78.7,80.0,80.6,81.0,83.9,84.3,87.9,87.5,87.8,High income,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,2.9,0.7,0.0,0.7,1.0,2.0,2.3,2.5,1.5

In [34]:
internet_use = world_final[['Country', 'Internet_Use_Perc_2011', 'Internet_Use_Perc_2012', 'Internet_Use_Perc_2013', 'Internet_Use_Perc_2014', 'Internet_Use_Perc_2015', 'Internet_Use_Perc_2016', 'Internet_Use_Perc_2017', 'Internet_Use_Perc_2018', 'Internet_Use_Perc_2019']]
internet_use.head()

,Country,Internet_Use_Perc_2011,Internet_Use_Perc_2012,Internet_Use_Perc_2013,Internet_Use_Perc_2014,Internet_Use_Perc_2015,Internet_Use_Perc_2016,Internet_Use_Perc_2017,Internet_Use_Perc_2018,Internet_Use_Perc_2019
1,Albania,47.0,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.6
2,Algeria,14.9,18.2,22.5,29.5,38.2,42.9,47.7,49.0,57.5
5,Angola,3.1,6.5,8.9,21.4,29.0,29.0,32.0,35.0,36.0
8,Armenia,32.0,37.5,41.9,54.6,59.1,64.3,64.7,68.2,66.5
11,Austria,78.7,80.0,80.6,81.0,83.9,84.3,87.9,87.5,87.8

In [39]:
internet_use.rename(columns={'Internet_Use_Perc_2011': '2011','Internet_Use_Perc_2012': '2012', 'Internet_Use_Perc_2013': '2013', 'Internet_Use_Perc_2014': '2014', 'Internet_Use_Perc_2015': '2015', 'Internet_Use_Perc_2016': '2016', 'Internet_Use_Perc_2017': '2017', 'Internet_Use_Perc_2018': '2018', 'Internet_Use_Perc_2019': '2019'}, inplace=True)
internet_use.head()

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    Country  2011  2012  2013  2014  2015  2016  2017  2018  2019
1   Albania  47.0  49.4  51.8  54.3  56.9  59.6  62.4  65.4  68.6
2   Algeria  14.9  18.2  22.5  29.5  38.2  42.9  47.7  49.0  57.5
5    Angola   3.1   6.5   8.9  21.4  29.0  29.0  32.0  35.0  36.0
8   Armenia  32.0  37.5  41.9  54.6  59.1  64.3  64.7  68.2  66.5
11  Austria  78.7  80.0  80.6  81.0  83.9  84.3  87.9  87.5  87.8

In [ ]:
gdp = world_final[['Country', 'Internet_Use_Perc_2011', 'Internet_Use_Perc_2012', 'Internet_Use_Perc_2013', 'Internet_Use_Perc_2014', 'Internet_Use_Perc_2015', 'Internet_Use_Perc_2016', 'Internet_Use_Perc_2017', 'Internet_Use_Perc_2018', 'Internet_Use_Perc_2019']]
internet_use.head()

In [ ]:
world_final.to_csv('Internet_data_hpfl.csv')

In [40]:
internet_use.to_csv('Internet.csv')